{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module"
  },
  "plugins": ["typescript", "spellcheck"],
  "rules": {
    "spellcheck/spell-checker": [
      "error",
      {
        "comments": true,
        "strings": true,
        "identifiers": true,
        "lang": "en_US",
        "skipWords": [
          "abi",
          "aes",
          "aes256cbc",
          "api",
          "arg",
          "args",
          "argv",
          "async",
          "axios",
          "blockchain",
          "blockcypher",
          "blockstream",
          "btc",
          "bitcoin",
          "cbc",
          "chai",
          "checksum",
          "cipheriv",
          "cors",
          "cryptographically",
          "curation",
          "decipheriv",
          "decrypt",
          "decrypts",
          "decrypted",
          "deserializable",
          "deserialize",
          "deserialized",
          "deserializes",
          "dichotomic",
          "ecdsa",
          "ecies",
          "enum",
          "epk",
          "erc",
          "eslint",
          "eth",
          "etherchain",
          "ethereum",
          "ethgasstation",
          "fetchable",
          "filename",
          "gwei",
          "http",
          "https",
          "infura",
          "ipfs",
          "javascript",
          "hashmap",
          "keccak",
          "keyv",
          "kovan",
          "kubernetes",
          "localhost",
          "lodash",
          "lte",
          "mainnet",
          "memberof",
          "metadata",
          "mul",
          "namespace",
          "parallelize",
          "param",
          "params",
          "parsable",
          "requestnetwork",
          "retriable",
          "rinkeby",
          "satoshi",
          "semver",
          "serializable",
          "stackoverflow",
          "timestamp",
          "timestamps",
          "testnet",
          "tslint",
          "tx",
          "txs",
          "tsconfig",
          "typedef",
          "typeof",
          "unencrypted",
          "usr",
          "utf",
          "utils",
          "validator",
          "versioning",
          "webpack",
          "wei",
          "whitelisted"
        ],
        "minLength": 3,
        "skipIfMatch": [
          "^(0x|0X)?[a-fA-F0-9]+$" // Hexadecimal strings
        ]
      }
    ]
  }
}
