# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist

# dependencies
node_modules

# Coverage
coverage
.nyc_output
coverage.lcov

# logs
lerna-debug.log
yarn-error.log

# OS specific files
.DS_Store

# local environment variables
.env
.env.*

# stryker
.stryker-tmp

# typescript
tsconfig.tsbuildinfo

# ignore smart-contracts generated types
packages/smart-contracts/types
packages/smart-contracts/generated
