# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist

# dependencies
node_modules

# Coverage
coverage
.nyc_output
coverage.lcov

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# logs
lerna-debug.log
yarn-error.log

# OS specific files
.DS_Store

# local environment variables
.env

# stryker
.stryker-tmp
