{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": ".yarn/releases/yarn-1.22.19.cjs",
      "options": {
        "rangeEnd": 0
      }
    }
  ]
}
