{
  "branches": [
    "release",
    {
      "name": "master",
      "channel": "next",
      "prerelease": "next"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github"
  ],
  "repositoryUrl": "git@github.com:requestNetwork/requestNetwork.git"
}