os: osx
language: node_js
node_js:
- '8'
install:
- npm install -g lerna
- lerna bootstrap
- npm install -g ganache-cli
- npm install -g truffle@4.0.5
- npm install -g @compodoc/compodoc
- brew install ipfs
- ipfs init
before_script:
- ipfs daemon > ipfs-travis.log &
- lerna run --scope @requestnetwork/request-network.js ganache > ganache-travis.log &
- sleep 3
- lerna run --scope @requestnetwork/request-network.js testdeploy
script:
- lerna run --scope @requestnetwork/request-network.js test --stream
- lerna run --scope request-network-smart-contracts test --stream
- lerna run --scope @requestnetwork/request-network.js docs --stream
- lerna run --scope request-network-smart-contracts docs:build --stream
after_failure:
- cat ipfs-travis.log
- cat ganache-travis.log
- npm config list
notifications:
  slack:
    secure: mIy4wm1/idlE/6fom57NMELsxOHFf1wtMjHBUXt7pWVkFTlD9iKVJ+synohwUv64DFnvWp3nyHBsM64wdlWvAVfz6hZPvZCAK4iWxAP6X4baZITq6vY3fVGHJMK4C+d1Ti273IRluqAuj2gEpaKslKLEqfWomWFQqLVpiN67wKbh8Bvf94NFtyVaoW/y+K/kqdk21ixTt3weScXmKXaPXlqazGmVhqsPGl4ovTJr2TFEm0a7VElnibtZ7YUhbyfMRQ3CpQLTHUL//cx7tT/kW7BoJSQD0rhkpDek7hNeSMLmgGvzw0+d48CSDIrZ2tAqKX3eIJSg6otvTpEHvuMMQi+wHhQ/8cuo5thRSbodoMQ8tQbSv+X7CMJs0fgxQHPZRpHXwvb44TKhFJgTHrXQx4xiUnOdNCG4Rc7PR0ToCvFqY4sU1Dee/QBmVp41E9BuWNoFxEFA4OhP4MfY9qYEy7MjzDbf2jJW39PovUVpwYJWLO4G0asu/KidM6gp6Z2LNc/SdE53IqGuGJthFEA9ZJKb9BtfjDTzBLRaFN4Wz1yojznql4j373ZkIAfFHM90CGSnOS9qMe18/82YgcTyCNZB5EmExYx5H1+hXCOrhjrne74YYLjHNH9B+WZvr5XU3kCTvMGP84oZ/8rs6dElIXXdxgTk3oxX1Gb56vWqHYU=
  email: false
cache:
  directories:
  - "$HOME/Library/Caches/Homebrew"
deploy:
- provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  local_dir: packages/requestNetwork.js/docs
  skip_cleanup: true
  on:
    branch: master
    repo: RequestNetwork/requestNetwork-private
  bucket: docs-js-lib.request.network
  region: eu-west-1
  acl: public_read
- provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  local_dir: packages/requestNetworkSmartContracts/docs
  skip_cleanup: true
  on:
    branch: master
    repo: RequestNetwork/requestNetwork-private
  bucket: docs-smart-contracts.request.network
  region: eu-west-1
  acl: public_read
