/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.integrationOptions {
  display: flex;
	flex-direction: column;
}

.homeIntegrationOptions {
  display: flex;
	flex-direction: row;
}

.integrationOption {
  display: flex;
	flex-wrap: nowrap;
  align-items: stretch;
  padding: 2rem 1rem;
  width: 100%;
}

.colOption {
	flex-direction: column;
}

.rowOption:nth-child(odd) {
	flex-direction: row;
}
.rowOption:nth-child(even) {
	flex-direction: row-reverse;
}

.integrationOptionImage {
	margin-bottom: 12px;
	max-width: 26;
	flex: 2;
}

integrationOptionDescription {
	padding-right: 24px;
	color: #8c8c8c;
}

.integrationOptionText {
	flex: 3;
}
